ProveedorServicios/WebContent/wsdl/EspecieWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:intf="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:tns1="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar"/>
   <element name="getEspecies">
    <complexType/>
   </element>
   <element name="getEspeciesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getEspeciesReturn" type="tns1:Especie"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEspecie">
    <complexType>
     <sequence>
      <element name="in0" type="tns1:Especie"/>
     </sequence>
    </complexType>
   </element>
   <element name="addEspecieResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Especie">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addEspecieResponse">

      <wsdl:part element="impl:addEspecieResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addEspecieRequest">

      <wsdl:part element="impl:addEspecie" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEspeciesRequest">

      <wsdl:part element="impl:getEspecies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEspeciesResponse">

      <wsdl:part element="impl:getEspeciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EspecieWSImpl">

      <wsdl:operation name="getEspecies">

         <wsdl:input message="impl:getEspeciesRequest" name="getEspeciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEspeciesResponse" name="getEspeciesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEspecie">

         <wsdl:input message="impl:addEspecieRequest" name="addEspecieRequest">

       </wsdl:input>

         <wsdl:output message="impl:addEspecieResponse" name="addEspecieResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EspecieWSImplSoapBinding" type="impl:EspecieWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEspecies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEspeciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEspeciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addEspecie">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addEspecieRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addEspecieResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EspecieWSImplService">

      <wsdl:port binding="impl:EspecieWSImplSoapBinding" name="EspecieWSImpl">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicios/services/EspecieWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
