ProveedorServicios/WebContent/wsdl/UbicacionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:intf="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:tns1="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.webservices.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar"/>
   <element name="getElementos">
    <complexType/>
   </element>
   <element name="getElementosResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getElementosReturn" type="tns1:Ubicacion"/>
     </sequence>
    </complexType>
   </element>
   <element name="addElemento">
    <complexType>
     <sequence>
      <element name="elemento" type="tns1:Ubicacion"/>
      <element name="usuario" type="xsd:string"/>
      <element name="clave" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addElementoResponse">
    <complexType/>
   </element>
   <element name="editElemento">
    <complexType>
     <sequence>
      <element name="elemento" type="tns1:Ubicacion"/>
      <element name="usuario" type="xsd:string"/>
      <element name="clave" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editElementoResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.servidor.patogis.galvarez.exa.unicen.edu.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Ubicacion">
    <sequence>
     <element name="altura" nillable="true" type="xsd:int"/>
     <element name="coordenadas" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addElementoResponse">

      <wsdl:part element="impl:addElementoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editElementoRequest">

      <wsdl:part element="impl:editElemento" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addElementoRequest">

      <wsdl:part element="impl:addElemento" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getElementosResponse">

      <wsdl:part element="impl:getElementosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getElementosRequest">

      <wsdl:part element="impl:getElementos" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editElementoResponse">

      <wsdl:part element="impl:editElementoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UbicacionWSImpl">

      <wsdl:operation name="getElementos">

         <wsdl:input message="impl:getElementosRequest" name="getElementosRequest">

       </wsdl:input>

         <wsdl:output message="impl:getElementosResponse" name="getElementosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addElemento">

         <wsdl:input message="impl:addElementoRequest" name="addElementoRequest">

       </wsdl:input>

         <wsdl:output message="impl:addElementoResponse" name="addElementoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editElemento">

         <wsdl:input message="impl:editElementoRequest" name="editElementoRequest">

       </wsdl:input>

         <wsdl:output message="impl:editElementoResponse" name="editElementoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UbicacionWSImplSoapBinding" type="impl:UbicacionWSImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getElementos">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElementosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getElementosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addElemento">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addElementoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addElementoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editElemento">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editElementoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editElementoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UbicacionWSImplService">

      <wsdl:port binding="impl:UbicacionWSImplSoapBinding" name="UbicacionWSImpl">

         <wsdlsoap:address location="http://localhost:8080/ProveedorServicios/services/UbicacionWSImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
